* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

.container-flexed {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.flexed {
    align-items: center;
    display: flex;
    justify-content: space-between
}

ul li {
    justify-content: center;
}

.flex-start {

}

.column-main {

}

.card {

}

#avatar {

}

.card-content {

}

.area {

}

.area img {

}

#city {

}

.info {

}

.info img {

}

a {

}

.education {

}

#text {

}

.column {

}

.aside-header {

}

#number2 {

}

.requests {

}

.request {

}

.accept-decline {

}

#button500 {

}

.connections {

}

.connection {
    
}