* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.flex-start {
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-bottom: 1.5em;
}

header ul {
    list-style: none;
}

button {
    background-color: turquoise;
    color: white;
}

main {
    background-color: white;
    min-height: 400px;
    flex: 2;
}

.card {
    background-color: lightblue;
    min-height: 300px;
}

img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 30px;
    top: 20px;
}

.education {
    background-color: darkcyan;
    min-height: 300px;
}

aside {
    background-color: white;
    min-height: 400px;
    flex: 1;
}

.requests {
    background-color: yellow;
    min-height: 200px;
}

.connections {
    background-color: yellowgreen;
    min-height: 200px;
}

h2 {
    margin-left: 20px;
    margin-top: 20px;
}

h3 {
    margin-left: 25px;
}

h3 img {
    width: 20px;
    height: 30px;
}

p {
    margin-left: 20px;
}

h4 img {
    width: 20px;
    height: 30px;
}

h4 {
    margin-left: 25px;
}